src/main/resources/xml/CarBrandModelsXSD.xml

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="CarBrandModelList">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CarBrandModel" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:byte" name="id"/>
                            <xs:element type="xs:string" name="name"/>
                            <xs:element type="xs:byte" name="carBrandId"/>
                            <xs:element type="xs:string" name="fuelType"/>
                            <xs:element type="xs:string" name="transmission"/>
                            <xs:element name="cars">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="car" maxOccurs="unbounded" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:byte" name="id"/>
                                                    <xs:element type="xs:byte" name="userId"/>
                                                    <xs:element type="xs:byte" name="carBrandId"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>