src/main/resources/xml/CarPartsXSD.xml

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="CarPartList">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CarPart" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:byte" name="id"/>
                            <xs:element type="xs:string" name="name"/>
                            <xs:element type="xs:string" name="serialNumber"/>
                            <xs:element type="xs:float" name="price"/>
                            <xs:element type="xs:byte" name="carPartCategoryId"/>
                            <xs:element type="xs:byte" name="shopId"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>