src/main/resources/xml/ShopOrdersXSD.xml

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="ShopOrderList">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ShopOrder" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:byte" name="id"/>
                            <xs:element type="xs:byte" name="userId"/>
                            <xs:element type="xs:byte" name="shopId"/>
                            <xs:element type="xs:byte" name="carPartsId"/>
                            <xs:element type="xs:date" name="date"/>
                            <xs:element type="xs:string" name="orderStatus"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>